<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>sistema imobiliaria</title>
</head>

<body>
    <header>
    <div>
      <h1>Sistema Imobiliario</h1>
      <p>Painel de gerenciamento</p>
    </div>
    </header>
    
  <main>
    <div>
      <div>
        <div>
          <h3>Menu Principal</h3>
          <a href="/casas/listar">
            Gerenciar Casas
          </a>
        </div>
      </div>
    </div>
  </main>

  <footer>
    <small>&copy; 2025 Sistema Imobiliario</small>
  </footer>
</body>
</html>